:root{
    --primary: #ECD8BD;
    --secondary: #1e293b;

    --text: #fff;
    --text-light: #CACACA;

    --background: #212121;

    --container: 1200px;

    --radius: 12px;

    --transition: .3s ease;
}

/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

/* ===== Variables ===== */

/* ===== Base ===== */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;    
    color: var(--text);
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: var(--container);
    padding: 10px 20px;
    margin: 0 auto;
}
.button {
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 50px;
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color var(--transition);
}
.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary:hover {
    background-color: var(--secondary);
    color: var(--text);
}
@media screen and (max-width: 768px) {
    .container{
        padding: 10px 5px;
    }
    .button {
        padding: 2px 20px;
    }
}

/* ===== HEADER ===== */
.header__inner{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.header__logo{
    font-size: 22px;
    text-align: center; 
    text-transform: uppercase;
}
.header__menu{
    padding: 0px 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    overflow-wrap: break-word; 
}
.header__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .header__logo{
    font-size: 18px;
}
}
/* ===== HERO ===== */
.hero__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
}
.hero__content{
    padding-bottom: 20px;
}
.hero__title{
    margin-bottom: 20px;
    font-size: 36px;
}
.hero__subtitle{
    margin-bottom: 20px;
}
.hero__image{}

@media screen and (max-width: 768px) {
    .hero__container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero__title{
        margin-bottom: 10px;
    }
    .hero__subtitle{
        margin-bottom: 10px;
    }
}

/* ===== About ===== */
.about{
    background-color: var(--primary);
}
.about__container{
    color: var(--secondary);
    display: flex;
    justify-content: starts;
    align-items: center;
    gap: 10px;
}
.about__image{}
.about__conten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: starts;
}
.about__title{
    text-align: center;
    margin-bottom: 10px;
}
.about__subtitle{
    margin-bottom: 10px;
}
.about__advantages{
}
.about__advantage:not(:last-child){
    margin-bottom: 10px;
}
.about__advantage::before{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    content: "";
}
.about__advantage{}
@media screen and (max-width: 768px) {
    .about__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about__image{
        min-width: 100%;
    }
    .about__image img{
        width: 100%;
    }
}
/* ===== Services ===== */
.services{}
.serveces__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.services__title{

}
.services__subtitle{}
.services__list{
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.services__item{
    max-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services__image{
    width: 100%;
    height: 100%;
}
.services__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__item-title{}
.services__item-description{}
@media screen and (max-width: 768px) {
    .serveces__container{
        gap: 10px;
    }
}
/* ===== Gallery ===== */
.gallery{
    background-color: var(--primary);
    color: var(--secondary);
}
.gallery__container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.gallery__title{}
.gallery__subtitle{}
.gallery__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.gallery__item{
    max-width: 300px;
}
.gallery__item img{
    height: 100%;
}
@media screen and (max-width: 768px){
    .gallery__container{
        margin-top: 10px;
        gap: 10px;
    }
    .gallery__list{
        gap: 10px;
    }
}
/* ===== Reviews ===== */


/* ===== Utilities ===== */

/* ===== Responsive ===== */