:root{
    --primary: #ECD8BD;
    --secondary: #1e293b;

    --text: #fff;
    --text-light: #7D5620;

    --background: #212121;

    --container: 1200px;

    --radius: 12px;

    --transition: .3s ease;
}

/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

/* ===== Variables ===== */

/* ===== Base ===== */
body {
    font-family: Arial, sans-serif;
    font-size: 24px;    
    color: var(--text);
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: var(--container);
    padding: 20px 20px;
    margin: 0 auto;
}
.button {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 50px;
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color var(--transition);
}
.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary:hover {
    background-color: var(--secondary);
    color: var(--text);
}
@media screen and (max-width: 768px) {
    .container{
        padding: 10px 5px;
    }
    .button {
        font-size: 18px;
        padding: 2px 20px;
    }
}

/* ===== HEADER ===== */
.header__inner{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.header__logo{
    font-size: 42px;
    text-align: center; 
    text-transform: uppercase;
}
.header__menu{
    padding: 0px 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    overflow-wrap: break-word; 
}
.header__link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__link:hover{
    color: var(--text-light);
}
@media screen and (max-width: 768px) {
    .header__logo{
    font-size: 18px;
}
.header__link{
    font-size: 16px;
}
}
/* ===== HERO ===== */
.hero__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
}
.hero__content{
    padding-bottom: 20px;
}
.hero__title{
    margin-bottom: 20px;
    font-size: 40px;
}
.hero__subtitle{
    margin-bottom: 20px;
    font-size: 24px;
}
.hero__image{}

@media screen and (max-width: 768px) {
    .hero__container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .hero__subtitle{
        font-size: 14px;
        margin-bottom: 10px;
    }
}

/* ===== About ===== */
.about{
    background-color: var(--primary);
}
.about__container{
    color: var(--secondary);
    display: flex;
    justify-content: starts;
    align-items: center;
    gap: 10px;
}
.about__image{
    border-radius: var(--radius);
    overflow: hidden;
}
.about__conten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: starts;
}
.about__title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.about__subtitle{
    font-size: 24px;
    margin-bottom: 20px;
}
.about__advantages{
}
.about__advantage:not(:last-child){
    margin-bottom: 20px;
}
.about__advantage::before{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    content: "";
}
.about__advantage{}
@media screen and (max-width: 768px) {
    .about__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about__image{
        min-width: 100%;
    }
    .about__image img{
        width: 100%;
    }
    .about__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about__subtitle{
        font-size: 14px;
    }
    .about__advantages{
        font-size: 14px;
    }
    .about__advantage:not(:last-child){
        margin-bottom: 10px;
    }
}
/* ===== Services ===== */
.services{}
.serveces__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.services__title{
    font-size: 32px;
}
.services__subtitle{
    font-size: 24px;
}
.services__list{
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.services__item{
    border: 2px solid var(--primary);
    border-radius: var(--radius);
    padding: 10px;
    max-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease;
}
.services__item:hover{
    transform: translateY(-8px);
}
.services__image{
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.services__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__item-title{
    font-size: 24px;
}
.services__item-description{
    font-size: 18px;
}
.service-button {
    width:  100%;
}
@media screen and (max-width: 768px) {
    .serveces__container{
        gap: 10px;
    }
    .services__title{
        font-size: 24px;
    }
    .services__subtitle{
        font-size: 14px;
    }
    .services__list{
        gap: 10px;
    }
    .services__item{
        gap: 10px;
    }

    .services__item-title{
        font-size: 18px;
    }
    .services__item-description{
        font-size: 14px;
    }

}
/* ===== Gallery ===== */
.gallery{
    background-color: var(--primary);
    color: var(--secondary);
}
.gallery__container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.gallery__title{
    font-size: 32px;
}
.gallery__subtitle{
    font-size: 24px;
}
.gallery__list{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.gallery__item{
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    overflow: hidden;
    max-width: 300px;
}
.gallery__item img{
    object-fit: cover;
    transition: .3s ease;
    height: 100%;
}
.gallery__item img:hover{
    transform: scale(1.03);
}
@media screen and (max-width: 768px){
    .gallery__container{
        margin-top: 10px;
        gap: 10px;
    }
    .gallery__list{
        gap: 10px;
    }
    .gallery__title{
        font-size: 24px;
    }
    .gallery__subtitle{
        font-size: 14px;
    }
}
/* ===== Contacts ===== */
.contacts{}
.contacts__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contact__content{
    display: flex;
    flex: 1 1 63%;
    flex-direction: column;
    gap: 20px;
}
.contact__title{
    text-align: center;
}
.contact__subtitle{}
.contact__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact__info-item{
    display: flex;
    gap: 10px;

}
.contact__info-title{
    width: 20%;
    font-size: 24px;
}
.contact__info-text{}
.contact__time{}
.contact__time-title{
    padding-bottom: 20px;
    width: 20%;
}
.contact__time-text{
    display: flex;
    gap: 10px;
}
.contact__time-text:not(:last-child){
    padding-bottom: 5px;
}
.contact__time-text span{
    display: block;
    width: 20%;
}
.contact__button{
    max-width: 200px;
}
.contact__map{
    width: 100%;
    flex: 1 1 35%;
}

@media screen and (max-width: 768px) {
    .contacts__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .contact__title{
        font-size: 24px;
    }
    .contact__subtitle{
        font-size: 14px;
    }
    .contact__info-title{
        font-size: 18px;
    }
    .contact__time-title{
        margin-top: 5px;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 24px;
    }
    .contact__info-text{
        text-align: start;
    }
    .contact__content{
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .contact__time-text span{
        text-align: left;
        width: 40%;
    }
    .contact__button{
    width: 100%;
    }
    .contact__map{
    padding: 0 5px ;
     flex: 1 1 100%;
     width: 100%;
    }
}


/* ===== Footer ===== */
.footer{
    background-color: var(--primary);
    color: var(--secondary);
}

.footer__container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer__content{
    flex: 1 1 60%;
    text-align: left;
}
.footer__logo{
}
.footer__subtitle{}
.footer__contacts{
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.footer__contact-link{

}
    
.footer__text{}

@media screen and (max-width: 768px){
    .footer__container{
        flex-direction: column;
        text-align: center;
    }
    .footer__logo{
        font-size: 32px;
    }
    .footer__content{
        text-align: center;
        
    }
    .footer__contacts{
        align-items: center;
    }
}
/* ===== Responsive ===== */