:root{
    --primary: #ECD8BD;
    --secondary: #1e293b;

    --text: #fff;
    --text-light: #CACACA;

    --background: #212121;

    --container: 1200px;

    --radius: 12px;

    --transition: .3s ease;
}

/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

/* ===== Variables ===== */

/* ===== Base ===== */
body {
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: var(--container);
    padding: 2px 20px;
    margin: 0 auto;
}
.button {
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 50px;
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color var(--transition);
}
.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary {
    background-color: var(--primary);
    color: var(--secondary);
}
.button__primary:hover {
    background-color: var(--secondary);
    color: var(--text);
}
@media screen and (max-width: 768px) {
    .container{
        padding: 2px 10px;
    }
    .button {
        padding: 2px 20px;
        fzont-size: 14px;
    }
}
/* ===== HEADER ===== */
.header__inner{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.header__logo{
    font-size: 22px;
    text-align: center; 
    text-transform: uppercase;
}
.header__menu{
    padding: 0px 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    overflow-wrap: break-word; 
}
.header__link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__link.active{}
@media screen and (max-width: 768px) {

    .header__logo{
    font-size: 18px;
}
}
/* ===== Layout ===== */

/* ===== Components ===== */

/* ===== Utilities ===== */

/* ===== Responsive ===== */